@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Pacifico|Roboto|Source+Sans+Pro|Varela+Round');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Courgette', cursive;

*/

/*
  blue: #0acffe;
*/



body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
.carousel-item {
  /* height: 65vh; */
  min-height: 450px;
  background: no-repeat center center scroll;
  background-position-y: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.special {
  color: #0acffe !important;
}
.text-special {
  color: #0acffe !important;
}
.navbar-brand {
  color: #000 !important;
}
a.navbar-brand:hover {
  color: #000 !important;
}
a.navbar-brand:focus {
  color: #000 !important;
}
.nav-link, .navbar .dropdown-menu a{
  color: rgba(0,0,0,.5) !important;
}
.navbar .dropdown-menu a:hover {
  background-color: #0acffe !important;
}
.special a:nth-child(3):hover {
  background-color: #f00 !important;
}

.footer .text {
  min-height: 130px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  letter-spacing: 2px;
  color: #f2f2f2;
}

.card{
  display: flex;
}

/* 
 CHECK BOX AND RADIO BUTTON DESIGN
*/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

.answers {
  font-size: 2rem !important;
}

/*  Ripple Effect */
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 12.05%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

